/* <!-- Qs1. Create a box using div. Set- Its height to 150px, width to 300px and the background color to grey.- Border to a 5px, black, dotted border.- Atopmargin of 20px.- Aright margin of 1em.- Abottom margin of 40px.- Aleft margin of 2em.- Padding on all sides of 1em. --> */
#box1{
    height: 150px;
    width: 300px;
    background-color: grey;
    border: 5px black dotted;
    margin-top: 20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em;
}
*{
    padding: 1em;
    background-image: url(assest/image/anime-girl-with-bottle-5k-05.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
